body{
  margin: 100px;
}

div .attendee{
  width: 100px;
  border: solid black 3px;
  text-align: center;
  font-family: 'Seymour+One', cursive;
}

.present{
  background-color: green;
  color: black;
}

.jumbotron {
	text-align: center;
    padding: 200px 0px 150px 0px;
	min-height: 600px;
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/65/be/af/65beaf5c7577ebeee4abd1ba6fa75b26.jpg");
	background-size: cover;
	font-family: 'Seymour+One', cursive;
	color: black;
	border-color: black;
	font-size: 500px;
}
