<!doctype html>
<head>
  <title> RegiSTAR </title>
  <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<div>
  <h1> RegiSTAR</h1>

    <h3>
<!-- need to work out how to join name and surname (using key - value pairs and how to start from index 1)   -->
      {% for person in f_names %}
        <h4> {{person}} </h4>
      {% endfor %}
    </h3>
  </div>


<!-- The form needs to be seprated into first name and last name (optional company?) -->
  <div id="contact-form">
    <h1> Not on the list? Add your name below:</h1>
    <form method="post" action="/signup">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" value="" placeholder="Firstname Surname" required="required" autofocus="autofocus"/>
      <label for="email">Email Address: </label>
      <input type="email" id="email" name="email" value="" placeholder="joe@bloggs.com" required="required"/>
      <input type="submit" value="Submit" id="submit-button"/>
    </form>
  </div>
</body>
