<!doctype html>
<head>
  <title> RegiSTAR </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<div>
  <h1> RegiSTAR</h1>

    <h3>
      {% for person in f_names %}
        <div class= "attendee">
            <h4> {{person}} {{l_names[f_names.index(person)]}} </h4>
            <p> {{companies[f_names.index(person)]}} </p>
        </div>
      {% endfor %}
    </h3>
  </div>


<!-- The form needs to be seprated into first name and last name (optional company?) -->
  <div id="contact-form">
    <h1> Not on the list? Add your name below:</h1>
    <form method="post" action="/signup">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" value="" placeholder="Firstname Surname" required="required" autofocus="autofocus"/>
      <label for="email">Email Address: </label>
      <input type="email" id="email" name="email" value="" placeholder="joe@bloggs.com" required="required"/>
      <input type="submit" value="Submit" id="submit-button"/>
    </form>
  </div>

  <script>


$(document).ready(function(){
  $(".attendee").on("click", function() {
      $(this).css("background-color", "green");
  });
});
</script>

</body>
