<!doctype html>
<head>
  <title> RegiSTAR </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
<div>
  <h1> RegiSTAR</h1>
  <h3> Event name </h3>
  <h3> {{date}} </h3>

    <h3>
      {% for i in f_names %}
        <div class= "attendee" id="attendee-{{loop.index0}}">
            <h4> {{f_names[loop.index0]}} {{l_names[loop.index0]}} </h4>
            <p> {{companies[loop.index0]}} </p>
        </div>
      {% endfor %}
    </h3>
  </div>


<!-- The form needs to be seprated into first name and last name (optional company?) -->
  <div id="signup-form">
    <h1> Not on the list? Add your name below:</h1>
    <form method="post" action="/signup">
      <label for="first_name">First name: </label>
      <input type="text" id="first_name" name="first_name" value="" placeholder="Firstname" required="required" autofocus="autofocus"/>
      <label for="last_name">Last Name: </label>
      <input type="text" id="last_name" name="last_name" value="" placeholder="Surname" required="required" autofocus="autofocus"/>
      <label for="company">Company: </label>
      <input type="text" id="company" name="company" value="" placeholder="Company" required="required" autofocus="autofocus"/>
      <label for="email">Email Address: </label>
      <input type="email" id="email" name="email" value="" placeholder="joe@bloggs.com" required="required"/>
      <input type="submit" value="Submit" id="submit-button"/>
    </form>
  </div>


<!-- make this correspond to Jquery so when this button is clicked the list of those who attended / did not attended is generated -->
<!-- This should send out the emails to present and absent  -->
  <div>
    <button class="btn btn-default" id = "finalise-regsiter"> Submit register for this event</button>
  </div>

<script>
// use Jquery id to post

  $(document).ready(function(){

    $(".attendee").on("click", function() {
        $(this).toggleClass("present");
    });

    $("button").click(function(){
      var present_attendees_id = [];

      $(".attendee").each(function(){
        if( $(this).hasClass("present") ) {
          present_attendees_id.push( $(this).attr("id") )
        }
      })
      console.log(present_attendees_id)

    });
      $('#finalise-register').click(function(){
        $.ajax({
        type: 'POST',
         url: '/email',
       success: function(data){
          alert(data);
       }
      });
      console.log("email sent")
    });

  });
</script>

</body>
